---
import { type CollectionEntry, getCollection } from "astro:content";

import BlogPost from "@/components/BlogPost.astro";
import BaseLayout from "@/layout/BaseLayout.astro";
import Pagination from "@/components/Pagination.astro";
import PostCardRen from "@/components/PostCardRen.astro";
import ProfileCard from "@/components/ProfileCard.astro";

export async function getStaticPaths({ paginate }) {
  const res = await getCollection("blog");

  // 根据宇航员数组生成页面，每页2项
  return paginate(res, { pageSize: 7 });
}
// 所有分页数据都在 "page" 参数中传递

type Props = {
  page: Page;
};

type Page = {
  data: CollectionEntry<"blog">[];
  lastPage: String;
  currentPage: String;
};

const { page } = Astro.props;
const pageTitle = "blog";

const tagsPosts = (await getCollection("blog")).filter(
  (post) => post.data.tags
);
const uniqueTag = [...new Set(tagsPosts.map((post) => post.data.tags).flat())];
---

<!-- <BaseLayout>
  {
    page.data.map((post) => {
      console.log(post);
      return <BlogPost {...post.data} />;
    })
  }
  <Pagination pageCount={page.lastPage} current={page.currentPage} />
</BaseLayout> -->
<BaseLayout pageTitle={pageTitle}>
  <div class="content">
    <div class="container">
      <ul>
        {page.data && <PostCardRen posts={page.data} />}
      </ul>
      <Pagination pageCount={page.lastPage} current={page.currentPage} />
    </div>
    <div class="profile">
      <ProfileCard postcount={page.data.length} tagsCount={uniqueTag.length} />
    </div>
  </div>
</BaseLayout>

<style>
  .content {
    display: flex;
    .profile {
      flex: 1;
      margin-top: 16px;
      margin-left: 24px;
    }
  }
  .container {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  ul {
    flex: 3;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  /* 手机 */
  @media screen and (max-width: 636px) {
    .profile {
      display: none;
    }
  }
</style>
