---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "@/layout/BaseLayout.astro";
import PostCardRen from "@/components/PostCardRen.astro";

export async function getStaticPaths() {
  const tagsPosts = (await getCollection("blog")).filter(
    (post) => post.data.tags
  );

  const uniqueTag = [
    ...new Set(tagsPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTag.map((tag) => {
    const filterPosts = tagsPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return { params: { tag }, props: { posts: filterPosts } };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) => post.data.tags?.includes(tag));
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    <PostCardRen posts={filteredPosts} />
    <!-- {
      filteredPosts.map((post) => {
        const { title, description, pubDate } = post.data;
        const posturl = String("/posts/" + title);
        return (
          <BlogPost
            title={title}
            posturl={posturl}
            description={description}
            time={pubDate}
          />
        );
      })
    } -->
  </ul>
</BaseLayout>
