---
import { getCollection } from "astro:content";
import BaseLayout from "@/layout/BaseLayout.astro";
import BlogPost from "@/components/BlogPost.astro";
import ProfileCard from "@/components/ProfileCard.astro";

const pageTitle = "blog";

await getCollection("blog");
const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle={pageTitle}>
  <div class="content">
    <ul>
      {
        allPosts &&
          allPosts.map((post) => {
            const { title, description, pubDate } = post.data;
            const posturl = String("/posts/" + title);
            return (
              <BlogPost
                title={title}
                posturl={posturl}
                description={description}
                time={pubDate}
              />
            );
          })
      }
    </ul>
    <div class="profile">
      <ProfileCard postcount={allPosts.length} />
    </div>
  </div>
</BaseLayout>

<style>
  .content {
    display: flex;
    .profile {
      flex: 1;
      margin-top: 16px;
      margin-left: 24px;
    }
  }

  ul {
    flex: 3;
    padding: 0;
    margin-top: 0;
  }
  /* 手机 */
  @media screen and (max-width: 636px) {
    .profile {
      display: none;
    }
  }
</style>
