---
import { Icon } from "astro-icon";
const { title, time, posturl, description, tags } = Astro.props;
---

<li class="content">
  <div class="title">
    <a href={posturl}>{title}</a>
  </div>
  <div class="desc">{description}</div>
  {
    tags && (
      <div class="tags">
        {tags.map((tag) => {
          return (
            <div class="wrapper">
              <div class="tag">
                <Icon name="tag" />
              </div>
              {tag}
            </div>
          );
        })}
      </div>
    )
  }
  {time && <div class="time">{time}</div>}
</li>

<style>
  .content {
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 16px;
    font-weight: bold;
    padding: 0 10px;
    > .title {
      font-size: 26px;
      text-align: left;
      display: inline-block;
      a {
        display: inline-block;
        padding: 0 20px 10px;
      }
    }
    > .desc {
      font-size: 14px;
      color: #555;
      font-weight: normal;
    }
    > .tags {
      display: flex;
      .wrapper {
        display: flex;
        margin-right: 6px;
        .tag {
          width: 15px;
          height: 16px;
        }
      }
    }
    > .time {
      color: #999;
      padding: 0 10px;
      text-align: end;
    }
  }
  .title:hover {
    a {
      color: var(--hovercolor);
    }
  }
</style>
