---
import BaseLayout from "./BaseLayout.astro";
import "@/style/markdown.css";
const formatImgul = (url) => {
  return "/src/assets/img" + url;
};

const { title, description, pubDate, tags } = Astro.props;

const year = pubDate.getFullYear()
const month = pubDate.getMonth()+1
const day = pubDate.getDate()
const time = `${year}年${month}月${day}日`
---

<BaseLayout pageTitle={title}>
  <div class="blogWrapper flex-grow">

    <div class="blog contentRadius">
      <!-- <div class="desc">{description}</div> -->
      <h1 class="title">{title}</h1>
      <div class="date">
        <!-- <p>pub {pubDate}</p> -->
        <p>{time}</p>
      </div>
      <article class="article">
        <slot />
      </article>
    </div>
  </div>
</BaseLayout>

<style>
  .blogWrapper{
    box-sizing:border-box;
    padding: 0 12px;
  }
  .blog {
    padding: 10px 24px;
    background-color: #fff;
    text-align: justify;
  }
  .title {
    margin: 8px 0;
  }
  .date {
    font-size: 12px;
    color: #999;
    .tags {
      font-size: 14px;
    }
  }
  @media screen and (min-width: 636px) {
    .blog {
      padding: 12 px;
    }

  }
</style>
